{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        | Seaport</title>
        <link href="{% static 'ui_framework/bootstrap/css/bootstrap.min.css' %}"
              rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static "img/logo-favicon.png" %}">
        <style>
            @font-face {
                font-family: 'Quicksand';
                src: url("{% static 'font/quicksand/Quicksand-VariableFont_wght.ttf' %}");
            }
        </style>
        <link href="{% static 'css/global.css' %}" rel="stylesheet">
        {% block head %}
        {% endblock head %}
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }
        
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                font-size: 3.5rem;
                }
            }
        </style>
        {% comment %} <link href="{% static 'css/style.css' %}" rel="stylesheet"> {% endcomment %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <div id="brand-wrapper">
                        <img src="{% static 'img/logo.png' %}"
                             alt="Türkmenbaşy Halkara deňiz porty" />
                    </div>
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% block navbar_items %}
                        {% endblock navbar_items %}
                        <li class="nav-item dropdown dropdown-animation">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">Terminallar</a>
                            <ul class="dropdown-menu">
                                {% for terminal in terminals %}
                                    <li>
                                        <button class="dropdown-item"
                                                onclick="location.href='/terminal/{{ terminal.pk }}/'">
                                            {{ terminal.name }}
                                        </button>
                                    </li>
                                    {% if terminals|length != forloop.counter %}
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-animation">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">Hyzmatlarymyz</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="mb-3">
            {% block body %}
            {% endblock body %}
        </main>
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-body-tertiary text-muted border-top border-secondary">
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <img width="150rem"
                                     src="{% static 'img/logo.png' %}"
                                     alt="Türkmenbaşy Halkara deňiz porty" />
                            </h6>
                            <p>
                                Türkmenbaşy Halkara deňiz portunyň taslamasy “Ýaşyl port” (Green Port) halkara ölçegleri göz öňünde tutulyp amala aşyryldy.
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Terminallar</h6>
                            {% for terminal in terminals %}
                                <p>
                                    <a href="/terminal/{{ terminal.pk }}/" class="text-reset">{{ terminal.name }}</a>
                                </p>
                            {% endfor %}
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Hyzmatlarymyz</h6>
                            <p>
                                <a href="#!" class="text-reset">Pricing</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Settings</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Orders</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Help</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Habarlaşmak</h6>
                            <p>Türkmenistan, Balkan welaýaty, Türkmenbaşy şäheri, Şagadam köçesi, 8-nji jaý.</p>
                            <p>@tisp.marketing@port.com.tm</p>
                            <p>+993 243 4 91 92</p>
                            <p>+993 243 4 95 24</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
                © 2024 Ähli hukuklar goralan:
                <a class="text-reset fw-bold" href="{% url 'home' %}">TURKMENBASHI INTERNATIONAL SEAPORT</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'ui_framework/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/main_layout.js' %}"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
